{% extends 'estructura.html' %}
{% block contenido %}
    <div>Opciones</div>
    <div>
        <span><a href="crear">Crear una persona</a><br></span>
    </div>
    <h3>Personas</h3>
    <table>
        <thead>
            <td>Num</td>
            <td>| ID</td>
            <td>| Nombre</td>
            <td>| Apellido</td>
            <td>| Documento</td>
            <td>| Detalles</td>
            <td>| Eliminar</td>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.documento }}</td>
                <td><a href="detalle?id={{ persona.id }}">Detalles</a></td>
                <td><a href="delete?id={{ persona.id }}">Eliminar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
