{% extends 'formulario.html' %}
{% block contenido %}
<form method="POST" action="/personas/tarjetas" enctype='multipart/form-data'>
<h2>TARJETAS DE CREDITO</h2>
<h2>Tipo: <input type="text" name="Nombre" placeholder="Tipo"></h2>
<h2>Numero:<input type="text" name="Nombre" placeholder="Numero"></h2>
<h2>Cod.Seguridad:<input type="text" name="Nombre" placeholder="Cod.Seguridad"></h2>
<h2>Vencimiento: <input type="text" name="Nombre" placeholder="Vencimiento"></h2>
<input type="button" value="Guardar" id="boton">
<h2></h2>
</form>
{% endblock %}