<!DOCTYPE html>
<html>
<head>

	<title>Formulario</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estiloF.css') }}">
</head>
<body>
<header >
<div class="wrapper">

<div class="logo">Formulario</div>
<nav>
	<a href="/">Inicio</a>
	<a href="/personas/">Personas</a>
</nav>
	</div>
	</header>

{% block contenido %} {% endblock %}
{% include 'pie.html' %}

</body>
</html>