<!DOCTYPE html>
<html>
<head>

	<title>Formulario</title>

	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	<link rel="stylesheet" type="text/css" href="css/estiloF.css">
</head>
<body>
<header >
<div class="wrapper">

<div class="logo">Formulario</div>
<nav>
	<a href="/">Inicio</a>
	<a href="/personas/">Registro</a>
	<a href="/tarjetas/">Tarjetas</a>
</nav>
	</div>
	</header>

{% block contenido %} 
<h2>/////////////////</h2>
<h2>SISTEMA DE VENTAS</h2>
<h2>/////////////////</h2>
{% endblock %}
{% include 'pie.html' %}

</body>
</html>